module Rounders
  module Receivers
    class <%= class_name %> < Rounders::Receivers::Receiver
      def initialize
      end

      def receive
      end

      class << self
        def receive
        end
      end
    end
  end
end
