module Rounders
  module Handlers
    class <%= class_name %> < Rounders::Handlers::Handler
    <% handlers.each do |handler| %>
      on({ body: 'example' }, :<%= handler %>)<% end -%>
    <% handlers.each do |handler| %>

      def <%= handler %>(mail)
      end<% end %>
    end
  end
end
